# HDSC Winter'22 Stage A assessment

### Hamoye ID: 147eb872a001f000
### Name: Archana Yadav

In [2]:
import pandas as pd

In [3]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv' 
df = pd.read_csv(url,encoding="latin-1")

In [9]:
df

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

In [29]:
df.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [32]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

# Answer the following questions based on the African food production dataset provided by the FAO website already provided

## Question 11
## What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

*Hint*:
Perform a groupby sum aggregation on ‘Item’

In [33]:
df.loc[df['Item']=='Animal fats'].groupby('Item')[['Y2014','Y2017']].sum()

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

## Question 12
## What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [36]:
print("Mean of the whole dataset for year 2015 is:",round(df['Y2015'].mean(),3),'\n\nStandard Deviation of the whole dataset for year 2015 is:',round(df['Y2015'].std(),3))

Mean of the whole dataset for year 2015 is: 135.236

Standard Deviation of the whole dataset for year 2015 is: 1603.404

##Question 13
##What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [38]:
missing_data = df['Y2016'].isna().sum()
percent = round(((missing_data/len(df))*100),2)
print('Total number of missing data in 2016 is:',missing_data,'\n\nPercentage of missing data in 2016 is:', percent,'%')

Total number of missing data in 2016 is: 1535

Percentage of missing data in 2016 is: 2.52 %


##Question 14
##Which year had the highest correlation with ‘Element Code’?

In [40]:
df_correlation= df.corr()
year_correlation = df_correlation[['Y2014','Y2015','Y2016','Y2017','Y2018']].loc['Element Code']
print("Year had Highest Correlation with Element Code is:\n",year_correlation.nlargest(1))

Year had Highest Correlation with Element Code is:
 Y2014    0.024457
Name: Element Code, dtype: float64

##Question 15
##What year has the highest sum of Import Quantity?

*Hint*- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [55]:
year = (df.loc[df['Element']=='Import Quantity']).groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum().max()
print('Year with the highest sum of Import Quantity is:\n',year.nlargest(1))

Year with the highest sum of Import Quantity is:
 Y2017    294559.09
dtype: float64

##Question 16
##What is the total number of the sum of Production in 2014?

*Hint*- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [56]:
production = (df.loc[df['Element']=='Production']).groupby('Element')['Y2014'].sum()
print('The total number of the sum of Production in 2014 is:\n',production)

The total number of the sum of Production in 2014 is:
 Element
Production    1931287.75
Name: Y2014, dtype: float64

##Question 17
##Which of these elements had the highest sum in 2018?

*Hint*-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [57]:
print('Elements with the highest sum in 2018 is:\n',df.groupby('Element')['Y2018'].sum().nlargest(1))

Elements with the highest sum in 2018 is:
 Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

##Question 18
##Which of these elements had the 3rd lowest sum in 2018?

*Hint*-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [60]:
print('Element with the 3rd lowest sum in 2018 is\n',df.groupby('Element')['Y2018'].sum().nsmallest(3).nlargest(1))

Element with the 3rd lowest sum in 2018 is
 Element
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

##Question 19
##What is the total Import Quantity in Algeria in 2018?

In [62]:
algeria = df.loc[df['Area']=='Algeria'].loc[df['Element']=='Import Quantity']['Y2018'].sum()
print('The total Import Quantity in Algeria in 2018 is:\n',algeria)

The total Import Quantity in Algeria in 2018 is:
 36238.29

##Question 20
##What is the total number of unique countries in the dataset?

In [63]:
print('The total number of unique countries in the dataset is:\n',pd.DataFrame(df['Area'].unique()).count())

The total number of unique countries in the dataset is:
 0    49
dtype: int64